@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --blue-950: hsl(233, 26%, 24%);
  --breen-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
  --shadow: 0px 4px 4px 2px #00000010;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}
.flex-parent {
  display: flex;
} /* navigation section */
.nav-menu {
  background: var(--white);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  img {
    width: auto;
    cursor: pointer;
  }
  .nav-links {
    gap: 2rem;
    a {
      color: var(--gray-600);
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 4rem;
        width: 0%;
        height: 0.3rem;
        background: linear-gradient(10deg, var(--cyan-400), var(--breen-500));
        transition: width 0.3s ease;
        border-radius: 2px;
      }
      &:hover {
        color: var(--blue-950);

        &::after {
          width: 100%;
        }
      }
    }
  }
  .btn {
    button {
      padding: 1rem 2.5rem;
      border-radius: 50px;
      background: linear-gradient(10deg, var(--cyan-400), var(--breen-500));
      border: none;
      color: var(--white);
      font-size: 18px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
/* hero section */
.hero-cont {
  width: 100%;
  background: var(--gray-50);
  position: relative;
  overflow: hidden;
  .left-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    .hero-left {
      flex-direction: column;
      padding: 4rem 1rem;
      h1 {
        color: var(--blue-950);
        font-weight: 300;
        width: 40%;
        font-size: 4rem;
      }
      p {
        color: var(--gray-600);
        width: 24%;
        text-align: left;
        padding-bottom: 1.5rem;
      }
      .btn {
        button {
          padding: 1rem 2.5rem;
          border-radius: 50px;
          background: linear-gradient(10deg, var(--cyan-400), var(--breen-500));
          border: none;
          color: var(--white);
          font-size: 18px;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .hero-img-right-1 {
    position: absolute;
    width: 60%;
    top: -30%;
    left: 50%;
  }
  .hero-img-right-2 {
    position: absolute;
    z-index: 1;
    width: 40%;
    left: 65%;
    top: -20%;
  }
} /* middle content */
.mid-cont {
  background: var(--gray-100);
  max-width: 100%;
  flex-direction: column;
  .wrapper {
    width: 77%;
    margin: 0 auto;
    padding: 3rem 0;
    .mid-title {
      max-width: 100%;
      h1 {
        color: var(--blue-950);
        font-weight: 300;
        width: 100%;
        font-size: 3rem;
      }
      p {
        color: var(--gray-600);
        width: 35%;
      }
    }
  }
  .mid-options {
    max-width: 77%;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row;
    padding: 3rem;
    .option {
      img {
        max-width: 100%;
      }
      h1 {
        color: var(--blue-950);
        font-weight: 300;
        width: 100%;
        font-size: 2rem;
        padding: 1rem 0;
      }
      p {
        color: var(--gray-600);
        width: 65%;
      }
    }
  }
} /* article section */
.art-cont {
  background: var(--gray-50);
  max-width: 100%;
  flex-direction: column;
  .wrapper {
    width: 77%;
    margin: 0 auto;
    padding: 3rem 0;
    h2 {
      color: var(--blue-950);
      font-weight: 300;
      width: 100%;
      font-size: 3rem;
    }
    .art-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      .card {
        background: var(--white);
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
      .card-body {
        height: auto;
        padding: 0.5rem 1rem 0 1rem;
        .author {
          font-size: 0.8rem;
          color: var(--gray-600);
        }
        h3 {
          color: var(--blue-950);
          font-size: 1.1rem;
          font-weight: 700;
          cursor: pointer;
          width: 60%;
          &:hover {
            background: linear-gradient(
              10deg,
              var(--cyan-400),
              var(--breen-500)
            );
            color: transparent;
            background-clip: text;
          }
        }
        .paragraph {
          color: var(--gray-600);
          width: 80%;
        }
      }
    }
  }
} /* footer section */
.footer-cont {
  background: var(--blue-950);
  max-width: 100%;
  padding: 4rem 0;

  .footer-wrap {
    width: 77%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 1.8fr;
    align-items: start;
    column-gap: 3rem;

    .footer-logos {
      width: 50%;
      flex-direction: column;
      gap: 4rem;
    }
    .contact-logo {
      width: 80%;
      gap: 1.2rem;
      cursor: pointer;
    }
    .footer-btn {
      gap: 1rem;
      align-items: flex-end;
      button {
        padding: 1rem 2.5rem;
        border-radius: 50px;
        background: linear-gradient(10deg, var(--cyan-400), var(--breen-500));
        border: none;
        color: var(--white);
        font-size: 18px;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
  .footer-logos,
  .links-col-1,
  .links-col-2,
  .footer-btn {
    flex-direction: column;
    gap: 1.5rem;
    color: var(--gray-600);
    a {
      color: var(--gray-100);
      text-decoration: none;
      &:hover {
        background: linear-gradient(10deg, var(--cyan-400), var(--breen-500));
        color: transparent;
        background-clip: text;
      }
    }
  }
} /* attribution */
.attribution {
  padding: 2rem 0 0 0;
  text-align: center;
  background: var(--blue-950);
  color: var(--white);
  a {
    text-decoration: none;
    color: var(--cyan-400);
  }
}
@media (max-width: 480px) {
  .nav-menu {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    align-items: flex-start;
    .nav-links {
      display: none;
    }
    .btn {
      display: none;
    }
  }

  .hero-cont {
    padding: 20rem 0 0 0;
    .left-wrapper {
      width: 90%;

      .hero-left {
        padding: 1rem;
        text-align: center;

        h1 {
          width: 100%;
          font-size: 2.2rem;
        }

        p {
          width: 100%;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
    .hero-img-right-1 {
      width: 150%;
      top: -20%;
      left: -20%;
    }
    .hero-img-right-2 {
      width: 100%;
      left: 0;
      top: -20%;
    }
  }

  .mid-cont {
    .wrapper {
      width: 90%;
      padding: 2rem 2rem;

      .mid-title {
        h1 {
          font-size: 2rem;
        }
        p {
          text-align: center;
          width: 100%;
          font-size: 1rem;
        }
      }
    }

    .mid-options {
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;
      width: 90%;

      .option {
        text-align: center;

        p {
          width: 100%;
        }
      }
    }
  }

  .art-cont {
    text-align: center;
    .wrapper {
      width: 80%;

      h2 {
        font-size: 2rem;
      }
      .art-cards {
        grid-template-columns: 1fr;
        gap: 1.5rem;

        .card img {
          height: 200px;
        }
        .card-body {
          h3 {
            width: 100%;
          }
          .paragraph {
            width: 100%;
          }
        }
      }
    }
  }

  .footer-cont {
    padding: 2rem 0;

    .footer-wrap {
      width: 90%;
      grid-template-columns: 1fr;
      gap: 2rem;
      text-align: center;
      place-items: center;

      .footer-logos {
        padding: 0 0 2rem 1rem;
      }
      .links-col-1,
      .links-col-2,
      .footer-btn {
        align-items: center;
      }
    }
  }
}
